{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    Upload Template file:
    <input type="file" name="mydata">
    <button type="submit">Upload</button>
  </form>
  or<br><br>
  Choose from already uploaded files:
   <ul>
    {% for obj in documents %}
      <li>
        <a href="{{ obj.document.url }}">{{ obj.document.name }}</a>
      </li>
    {% endfor %}
  </ul>

  <p><a href="{% url 'home' %}">Return to home</a></p>
  <p><a href="{% url 'continue_to_data' %}">continue</a></p>
{% endblock %}