{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    Upload Template file:
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
  </form>
  or<br><br>
  Choose from already uploaded files:
   <ul>
    
  </ul>
  <form method="post" action="{% url 'render' %}">
      {% csrf_token %}
    <select name="html">
      {% for obj in documents %}
        <option value="{{ obj.id }}">{{ obj.document.name }}</option>
      {% endfor %}
    </select>
    <select name="csv">
      {% for obj in csvs %}
        <option value="{{ obj.id }}">{{ obj.file.name }}</option>
      {% endfor %}
    </select>
    <br><br>
    <input type="submit">
  </form>

  <p><a href="{% url 'home' %}">Return to home</a></p>
  <p><a href="{% url 'continue_to_data' %}">continue</a></p>
{% endblock %}